{
  "type": 2,
  "title": "JupyterHub",
  "description": "JupyterHub Server,
  "platform": "linux",
  "administrator_only": true,
  "repository": {
    "url": "https://github.com/zr123/jupyterhub",
    "stackfile": "docker-compose.yml"
  }
}
